@use "../../../sass/abstracts/mixins";

.showcase {
   background-color: white;
   //aspect-ratio: 1/1;
   position: relative;

   @include mixins.breakpoint("sm") {
      aspect-ratio: 16/7;
   }

   @include mixins.breakpoint("md") {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background-color: black;
   }

   &_image {
      position: relative !important; // Force relative on mobile
      width: 100% !important; // Force width on mobile
      height: auto !important; // Force height on mobile

      @include mixins.breakpoint("md") {
         position: absolute !important; // Absolute on large screens
         top: 0;
         left: 0;
         z-index: 1;
         width: 100% !important;
         height: 100% !important;
         object-fit: cover;
         object-position: center;
         //filter: blur(5px);
         opacity: 0.75;
      }
   }

   &_description {
      color: white;
      font-family: var(--font-secondary);
      font-size: 1rem;
      text-align: center;
     
      font-weight: bold;
      @include mixins.breakpoint("md") {
 width: 90%;
      }
   }

   &_description__light {
      color: white;
   }

   &_description__dark {
      color: var(--color-text);
   }

   &_content {
      width: 100%;
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;
      @include mixins.breakpoint("md") {
         width: 65%;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 1.5rem 1.5rem 0 1.5rem;
      }
   }
}
