@use "../../../sass/abstracts/mixins";

.showcase {
   background-color: var(--color-primary);
   aspect-ratio: 1/1;
   position: relative;

   @include mixins.breakpoint("sm") {
      aspect-ratio: 16/7;
   }

   @include mixins.breakpoint("md") {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background-color: black;
   }

   &_image {
      position: relative !important; // Force relative on mobile
      width: 100% !important; // Force width on mobile
      height: auto !important; // Force height on mobile

      @include mixins.breakpoint("md") {
         position: absolute !important; // Absolute on large screens
         top: 0;
         left: 0;
         z-index: 1;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
         //filter: blur(5px);
         opacity: 0.75;
      }
   }

   &_description {
      color: white;
      font-family: var(--font-secondary);
      font-size: 1rem;
      text-align: center;
     
      font-weight: bold;
      @include mixins.breakpoint("md") {
 width: 90%;
      }
   }

   &_content {
      
      width: 100%;
      padding: 1.5rem;
      position: relative;
      z-index: 2;

      @include mixins.breakpoint("md") {
         width: 60%;
         display: flex;
         flex-direction: column;
         align-items: center;
      }

      h1 {
         text-align: center;
         text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
      }
   }
}