@use "../../../sass/abstracts/mixins";

.header {
 background-color: white;
 padding: 2rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 6rem;
 position: relative;
 z-index: 1;
}
.wordmark {
 color: var(--text-color);
 font-family: var(--font-primary);
 font-weight: bold;
 font-size: 1.5rem;
 span {
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: 400;
  letter-spacing: -1px;
 }
 &_desktop_nav {
  display: none;
  @include mixins.breakpoint("md") {
   display: block;
  }
 }
}
