.nav {
 //background-color: red;
 .nav__list {
  display: flex;
  gap: 1rem;
  align-items: center;
  //background-color: lightblue;
  height: 100%;
  &.flex-direction--column {
   flex-direction: column;
  }
  &.flex-direction--row {
   flex-direction: row;
  }
  &.size--small {
   font-size: 1rem;
  }
  &.size--medium {
   font-size: 1.5rem;
  }
  &.size--large {
   font-size: 2rem;
  }
  li {
   a {
    font-family: var(--font-primary);
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
    &:hover {
     color: var(--accent-color);
    }
   }
  }
 }
}
