.icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  fill: currentColor; // Default fill color
}
.fill--primary {
  fill: var(--color-primary); // Use your project's primary color variable
}
.fill--secondary {
  fill: var(--color-secondary); // Use your project's secondary color variable
}
.fill--black {
  fill: #000;
}
.fill--orange {
  fill: var(--color-orange); // Use your project's orange color variable
}

.fill--white {
  fill: #fff;
}
.fill--gray {
  fill: var(--color-gray);
}

.fill--accent {
  fill: var(--color-accent); // Use your project's accent color variable
}
.size--small {
  width: 1.5rem;
  height: 1.5rem;
}
.size--medium {
  width: 3rem;
  height: 3rem;
}
.size--large {
  width: 4rem;
  height: 4rem;
}

// Add more color classes as needed