.icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  fill: currentColor; // Default fill color
}

.fill--black {
  fill: #000;
}

.fill--white {
  fill: #fff;
}

.fill--accent {
  fill: var(--color-accent); // Use your project's accent color variable
}
.size--small {
  width: 1.5rem;
  height: 1.5rem;
}
.size--medium {
  width: 2rem;
  height: 2rem;
}
.size--large {
  width: 4rem;
  height: 4rem;
}

// Add more color classes as needed