@use "../../../sass/abstracts/mixins";

.container {
 padding: 0 1rem;
 margin: 0 auto;
 position: relative;
 width: 100%;
 //background-color: orange;
 @include mixins.breakpoint(sm) {
  width: 700px;
 }
 @include mixins.breakpoint(md) {
  width: 980px;
 }
 @include mixins.breakpoint(lg) {
  width: 1140px;
 }
 &__content {
  /* Control the maximum width for large screens */
  max-width: 100%;
  @include mixins.breakpoint(sm) {
   max-width: 700px;
  }
  @include mixins.breakpoint(md) {
   max-width: 90ch;
  }
 }
 &.width--full {
  width: 100%;
 }

 &.align--default {
 }

 &.align--wide {
  width: 100%;
  @include mixins.breakpoint(sm) {
   width: min(94vw, 900px);
  }
  @include mixins.breakpoint(md) {
   width: min(94vw, 1180px);
  }
  @include mixins.breakpoint(lg) {
   width: min(94vw, 1320px);
  }
 }

 &.align--full {
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
 }

 &.height--full {
  min-height: 100vh;
 }
 &.no-padding {
  padding: 0;
 }
 @include mixins.alignItems();
 @include mixins.justifyContent();
}
