@use "../../../sass/abstracts/mixins";

.section {
  background-color: gray;

  &.background-color--pink {
    background-color: pink;
  }
  &.background-color--primary-light {
    background-color: var(--color-primary--light);
  }
  &.background-color--primary {
    background-color: var(--color-primary);
  }
  &.background-color--primary-dark {
    background-color: var(--color-primary--dark);
  }
  &.background-color--secondary {
    background-color: var(--color-secondary);
  }
  &.background-color--secondary-light {
    background-color: var(--color-secondary-light);
  }
  &.background-color--white {
    background-color: white;
  }
  &.background-color--black {
    background-color: #2c2c2c;
  }

  @include mixins.textAlign();

  $sizes: (none: 0, small: 1rem, medium: 2rem, large: 3rem);

  @each $name, $value in $sizes {
    &.padding-top--#{$name} {
      padding-top: $value;
    }
    &.padding-bottom--#{$name} {
      padding-bottom: $value;
    }
    &.margin-top--#{$name} {
      margin-top: $value;
    }
    &.margin-bottom--#{$name} {
      margin-bottom: $value;
    }
  }
}
