.blockquote {
    margin-bottom: 1rem;
}

.quote {
    font-style: italic;
    margin-bottom: 1rem;
    font-family: var(--font-primary);
    font-weight: normal;
    color: var(--color-black);
    font-size: 1.2rem;
    line-height: 1.35;
}

.cite {
    font-style: normal;
    line-height: 1.5;

    &__name {
        font-style: normal;
        font-family: var(--font-secondary);
        font-weight: bold;

        a {
            color: var(--color-black);
            text-decoration: none;
        }
    }

    &__jobTitle {
        font-style: italic;
        font-family: var(--font-primary);
        font-weight: normal;
    }

    &__companyName {
        font-style: normal;
        font-family: var(--font-primary);
        font-weight: normal;

        a {
            color: var(--color-black);
            text-decoration: none;
        }
    }

    &__photo {
        width: 6rem;
        height: 6rem;
        margin: 0 auto;
        margin-bottom: .5rem;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid var(--color-primary);
        }
    }

}