.sequence {
 position: relative;
 &__background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 89.3px;
  height: 113.1px;
  //background-color: red;
 }
 &__container {
  //background-color: lightblue;
  height: calc(100vh - 6rem);
 }
}
