@use "../../../sass/abstracts/mixins";
@use "../../../sass/abstracts/variables";

.heading {
 font-family: var(--font-headlines);
 font-weight: bold;
 color: var(--color-text);
 line-height: 1.2;
 &.color--primary {
  color: var(--color-primary);
 }
 &.color--secondary {
  color: var(--color-secondary);
 }
 &.color--white {
  color: white;
 }
 &.color--accent {
  color: var(--color-accent);
 }
 &--level-1 {
  font-size: 1.35rem;
  @include mixins.breakpoint(sm) {
    font-size: 1.75rem;
  }
   @include mixins.breakpoint(md) {
    font-size: 2rem;
  }
 }
 &--level-2 {
  font-size: 1.2rem;
  @include mixins.breakpoint(sm) {
    font-size: 1.5rem;
  }
   @include mixins.breakpoint(md) {
    font-size: 1.7rem;
  }
 }
 &--level-3 {
  font-size: 1.1rem;
  @include mixins.breakpoint(sm) {
    font-size: 1.25rem;
  }
   @include mixins.breakpoint(md) {
    font-size: 1.35rem;
  }
 }
 &--level-4 {
  font-size: 1rem;
  @include mixins.breakpoint(sm) {
    font-size: 1.05rem;
  }
   @include mixins.breakpoint(md) {
    font-size: 1.1rem;
  }
 }
 &--level-5 {
  font-size: 0.875rem;
 }
 &--level-6 {
  font-size: 0.75rem;
 }
 &.label {
  text-transform: uppercase;
  color: var(--primary-color);
 }
 @include mixins.fontFamily();
 @include mixins.marginAndPadding();
 @include mixins.textAlign();
 @include mixins.textTransform();
 @include mixins.fontWeight();
 @include mixins.fontColor();
 @include mixins.fontStyle();
 @include mixins.lineHeight();
}
